
<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power Bundle</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="bg-light py-3">
        <nav class="container d-flex flex-wrap justify-content-between">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Mix Bundles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Energy Drinks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Healthy Snacks</a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="nav-link" href="">Login/Create account</a>
                <a class="nav-link" href="">Cart</a>
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}}

