

  <main class="container mt-5">
    <div id="login-container" class="form-container"></div>
    <div id="signup-container" class="form-container"></div>
  </main>
  
  <script id="login-template" type="text/x-handlebars-template">
    <div class="col-md-6 mx-auto">
      <h2 class="text-green">Login</h2>
      <form class="form login-form">
        <div class="form-group">
          <label for="email-login">Email:</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login">Password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-green" type="submit">Login</button>
        </div>
      </form>
    </div>
  </script>

  <script id="signup-template" type="text/x-handlebars-template">
    <div class="col-md-6 mx-auto">
      <h2 class="text-green">Sign Up</h2>
      <form class="form signup-form">
        <div class="form-group">
          <label for="name-signup">Name:</label>
          <input class="form-input" type="text" id="name-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">Email:</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">Password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="btn btn-green" type="submit">Sign Up</button>
        </div>
      </form>
    </div>
  </script>

 <script src="/src/public/js/handlebars.min.js"></script>
 <script src="./js/login.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const loginTemplateSource = document.getElementById('login-template').innerHTML;
      const signupTemplateSource = document.getElementById('signup-template').innerHTML;

      const loginTemplate = Handlebars.compile(loginTemplateSource);
      const signupTemplate = Handlebars.compile(signupTemplateSource);

      document.getElementById('login-container').innerHTML = loginTemplate();
      document.getElementById('signup-container').innerHTML = signupTemplate();
    });
  </script>
</body>
</html>