{{!-- <div class="text-center">

  <h2>{{name}}</h2>

  <p>{{description}}</p>
 
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p>
  <p>
    <button class="btn btn-primary">Buy this Bundle!</button>
  </p>
</div> --}}
